/*
1) HTML tags
---------------------------------------------------------------------------------------------------------- */

body {text-align:center;}

table {font-size:100%;}

/* ----------------------------------------------------------------------------------------------------------
2) Layout
---------------------------------------------------------------------------------------------------------- */

#main {text-align:left;}

#logo span {cursor:hand;}

#search {height:52px;}

.box-01-top {margin-top:10px;}

/* ----------------------------------------------------------------------------------------------------------
3 Page: Homepage
---------------------------------------------------------------------------------------------------------- */

#topstory-list {width:470px;}
#topstory-list img {padding-right:0; margin-right:10px;}

/* ----------------------------------------------------------------------------------------------------------
4 Others
---------------------------------------------------------------------------------------------------------- */

.box {height:1%;}
